In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

pdata = pd.read_csv("Flight data/Passenger data.csv", sep=',')[["PASSENGERS", "AIRLINE_ID", "CARRIER_NAME", "ORIGIN_CITY_NAME", "DEST_CITY_NAME","MONTH"]]

# df1 = DataFrame(pdata.groupby(["AIRLINE_ID", "CARRIER_NAME","ORIGIN_CITY_NAME", "DEST_CITY_NAME"])["PASSENGERS"].count())
df1 = DataFrame(pdata.groupby(["AIRLINE_ID", "CARRIER_NAME"])["PASSENGERS"].sum())
# df1.to_csv("passengers.csv")
df1.sort_values(by='PASSENGERS', ascending=False).head(n=25).reset_index()

In [3]:
fdata = pd.read_csv("Flight data/Financial data.csv", sep=',')
df2 = DataFrame(fdata.groupby(["AIRLINE_ID", "CARRIER_NAME"])["NET_INCOME"].sum())
# df2.to_csv("income.csv")
df2.sort_values(by='NET_INCOME', ascending=False).head(n=20).reset_index()

    AIRLINE_ID                            CARRIER_NAME  NET_INCOME
0        19790                    Delta Air Lines Inc.  3776999.00
1        19805                  American Airlines Inc.  2440628.93
2        19977                   United Air Lines Inc.  1866994.37
3        19393                  Southwest Airlines Co.  1719647.00
4        20107             Federal Express Corporation  1254113.00
5        19930                    Alaska Airlines Inc.   714400.00
6        20409                         JetBlue Airways   578608.60
7        20368                           Allegiant Air   275369.30
8        20416                        Spirit Air Lines   249581.73
9        20436                  Frontier Airlines Inc.   169898.19
10       20304                   SkyWest Airlines Inc.   108074.00
11       21171                          Virgin America   107356.28
12       19690                  Hawaiian Airlines Inc.   103518.36
13       19917                   United Parcel Service    95618.85
14       20378                      Mesa Airlines Inc.    32620.96
15       20422  Sun Country Airlines d/b/a MN Airlines    25064.89
16       20377                        Omni Air Express    20230.20
17       20398                               Envoy Air    13553.57
18       20447                   USA Jet Airlines Inc.    10828.79
19       20190                       Southern Air Inc.     9891.55

In [ ]:
avgfare = df1.merge(df2, how = 'inner', left_index = True, right_index=True)
avgfare = avgfare[avgfare.PASSENGERS != 0]
avgfare['AVERAGE_FARE'] = avgfare['PASSENGERS']/avgfare['NET_INCOME']
avgfare_df=avgfare.reset_index()

In [ ]:
print(avgfare_df["CARRIER_NAME"])

In [ ]:
df2.head(n=20)
userinput=input("Enter a airline you want to see consolidated results")