In [16]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

path = "D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data/*_2016.csv"
frame=pd.DataFrame()
df_list=[]
passenger_data = pd.read_csv("D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data/Passenger data.csv", sep=',')[["AIRLINE_ID", "CARRIER_NAME"]]

for fname in glob.glob(path):
    print(fname)
    data=pd.read_csv(fname,index_col=None, header=0)
    df = DataFrame(data, columns=["AIRLINE_ID", "DISTANCE"])   
    df=pd.merge(df, passenger_data, left_on="AIRLINE_ID", right_index=True)
    df=df.groupby(["AIRLINE_ID", "CARRIER_NAME"])["DISTANCE"].sum()
#     df1=df.groupby(["AIRLINE_ID","ORIGIN_CITY_NAME","DEST_CITY_NAME"])["AIRLINE_ID"].count()
    df_list.append(df)
    frame = pd.concat(df_list)
frame

D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\December_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\November_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\October_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\September_2016.csv

AIRLINE_ID  CARRIER_NAME
19393       Miami Air International                                       82319550.0
19690       Federal Express Corporation                                    4105966.0
19790       Federal Express Corporation                                   63035331.0
19805       Federal Express Corporation                                   76554826.0
19930       Federal Express Corporation                                   18370243.0
19977       Federal Express Corporation                                   56392004.0
20304       Federal Express Corporation                                   24970195.0
20366       Federal Express Corporation                                   16947862.0
20409       Federal Express Corporation                                   25876476.0
20416       Federal Express Corporation                                   12411436.0
20436       Federal Express Corporation                                    9033353.0
21171       Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines     8746975.0
19393       Miami Air International                                       79454432.0
19690       Federal Express Corporation                                    3799408.0
19790       Federal Express Corporation                                   61062676.0
19805       Federal Express Corporation                                   71843447.0
19930       Federal Express Corporation                                   17342605.0
19977       Federal Express Corporation                                   53304089.0
20304       Federal Express Corporation                                   23599702.0
20366       Federal Express Corporation                                   16298874.0
20409       Federal Express Corporation                                   24172320.0
20416       Federal Express Corporation                                   11488961.0
20436       Federal Express Corporation                                    8466230.0
21171       Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines     8538126.0
19393       Miami Air International                                       80270746.0
19690       Federal Express Corporation                                    3938802.0
19790       Federal Express Corporation                                   65045482.0
19805       Federal Express Corporation                                   74969351.0
19930       Federal Express Corporation                                   17011562.0
19977       Federal Express Corporation                                   58055699.0
20304       Federal Express Corporation                                   25163195.0
20366       Federal Express Corporation                                   17675865.0
20409       Federal Express Corporation                                   24295021.0
20416       Federal Express Corporation                                   11230919.0
20436       Federal Express Corporation                                    9078891.0
21171       Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines     8371498.0
19393       Miami Air International                                       77028273.0
19690       Federal Express Corporation                                    3901074.0
19790       Federal Express Corporation                                   62577779.0
19805       Federal Express Corporation                                   71593860.0
19930       Federal Express Corporation                                   16730144.0
19977       Federal Express Corporation                                   55747427.0
20304       Federal Express Corporation                                   23756415.0
20366       Federal Express Corporation                                   17510899.0
20409       Federal Express Corporation                                   23325617.0
20416       Federal Express Corporation                                   10854137.0
20436       Federal Express Corporation                                    8955063.0
21171       Caribbean Sun Airlines, Inc. d/b/a World Atlantic Airlines     8212849.0
Name: DISTANCE, dtype: float64