In [11]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

path = "D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data/*_2016.csv"
frame=pd.DataFrame()
df_list=[]
passenger_data = pd.read_csv("D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data/Passenger data.csv", sep=',')[["PASSENGERS", "AIRLINE_ID","ORIGIN_CITY_NAME", "DEST_CITY_NAME"]]

for fname in glob.glob(path):
    print(fname)
    data=pd.read_csv(fname,index_col=None, header=0)
    df = DataFrame(data)
    #df1=df.groupby(["AIRLINE_ID","ORIGIN_CITY_NAME","DEST_CITY_NAME"])["AIRLINE_ID"].count()
    df_list.append(df1)
    frame = pd.concat(df_list)

frame = pd.merge(frame.to_frame(), passenger_data, left_on='AIRLINE_ID', right_index=True)
frame
# merged=frame.merge(passenger_data, on='AIRLINE_ID',how='outer')
# merged.to_csv("output.csv", index=False)

D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\December_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\November_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\October_2016.csv
D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data\September_2016.csv

                                                        AIRLINE_ID  \
AIRLINE_ID ORIGIN_CITY_NAME      DEST_CITY_NAME
19393      Akron, OH             Atlanta, GA                    88
           Atlanta, GA           Akron, OH                      88
                                 Jacksonville, FL               88
                                 Kansas City, MO                88
                                 Las Vegas, NV                  88
                                 Milwaukee, WI                  88
           Burbank, CA           San Francisco, CA              88
           Denver, CO            Albuquerque, NM                88
                                 Oklahoma City, OK              88
           Jacksonville, FL      Atlanta, GA                    88
           Las Vegas, NV         Atlanta, GA                    88
                                 Milwaukee, WI                  88
           Los Angeles, CA       Atlanta, GA                    88
           Nashville, TN         Washington, DC                 88
           New York, NY          St. Louis, MO                  88
           Oklahoma City, OK     Denver, CO                     88
           Orlando, FL           Buffalo, NY                    88
           Portland, OR          Phoenix, AZ                    88
           San Diego, CA         Dallas, TX                     88
           San Francisco, CA     Burbank, CA                    88
           San Jose, CA          Seattle, WA                    88
           St. Louis, MO         Las Vegas, NV                  88
                                 New York, NY                   88
           Washington, DC        Houston, TX                    88
                                 Nashville, TN                  88
19790      Albany, NY            Atlanta, GA                    88
           Atlanta, GA           Albany, NY                     88
                                 Providence, RI                 88
                                 Santa Ana, CA                  88
           Knoxville, TN         Atlanta, GA                    88
...                                                            ...
           Chicago, IL           Atlanta, GA                   550
           Atlanta, GA           New York, NY                  652
                                 Tampa, FL                     422
           Tampa, FL             Atlanta, GA                   422
           Atlanta, GA           Washington, DC                530
           Washington, DC        Atlanta, GA                   530
19805      New York, NY          Miami, FL                     530
19790      New York, NY          Atlanta, GA                   655
19805      Boston, MA            New York, NY                  450
           New York, NY          Boston, MA                    450
           Boston, MA            Washington, DC                420
           Washington, DC        Boston, MA                    420
           Chicago, IL           New York, NY                  481
           Dallas/Fort Worth, TX Chicago, IL                   432
                                 Las Vegas, NV                 281
           Las Vegas, NV         Dallas/Fort Worth, TX         281
           Dallas/Fort Worth, TX Los Angeles, CA               412
           Miami, FL             New York, NY                  534
           New York, NY          Chicago, IL                   486
19930      Anchorage, AK         Seattle, WA                   466
19977      Houston, TX           Los Angeles, CA               343
20409      New York, NY          Fort Lauderdale, FL           343
19977      Los Angeles, CA       Newark, NJ                    391
20409      Boston, MA            Washington, DC                391
           Washington, DC        Boston, MA                    391
19977      Los Angeles, CA       San Francisco, CA             401
           Newark, NJ            San Francisco, CA             496
           San Francisco, CA     Chicago, IL                   440
                                 Newark, NJ                    493
20409      New York, NY          Orlando, FL                   359

                                                        AIRLINE_ID_x  \
AIRLINE_ID ORIGIN_CITY_NAME      DEST_CITY_NAME
19393      Akron, OH             Atlanta, GA                      88
           Atlanta, GA           Akron, OH                        88
                                 Jacksonville, FL                 88
                                 Kansas City, MO                  88
                                 Las Vegas, NV                    88
                                 Milwaukee, WI                    88
           Burbank, CA           San Francisco, CA                88
           Denver, CO            Albuquerque, NM                  88
                                 Oklahoma City, OK                88
           Jacksonville, FL      Atlanta, GA                      88
           Las Vegas, NV         Atlanta, GA                      88
                                 Milwaukee, WI                    88
           Los Angeles, CA       Atlanta, GA                      88
           Nashville, TN         Washington, DC                   88
           New York, NY          St. Louis, MO                    88
           Oklahoma City, OK     Denver, CO                       88
           Orlando, FL           Buffalo, NY                      88
           Portland, OR          Phoenix, AZ                      88
           San Diego, CA         Dallas, TX                       88
           San Francisco, CA     Burbank, CA                      88
           San Jose, CA          Seattle, WA                      88
           St. Louis, MO         Las Vegas, NV                    88
                                 New York, NY                     88
           Washington, DC        Houston, TX                      88
                                 Nashville, TN                    88
19790      Albany, NY            Atlanta, GA                      88
           Atlanta, GA           Albany, NY                       88
                                 Providence, RI                   88
                                 Santa Ana, CA                    88
           Knoxville, TN         Atlanta, GA                      88
...                                                              ...
           Chicago, IL           Atlanta, GA                     550
           Atlanta, GA           New York, NY                    652
                                 Tampa, FL                       422
           Tampa, FL             Atlanta, GA                     422
           Atlanta, GA           Washington, DC                  530
           Washington, DC        Atlanta, GA                     530
19805      New York, NY          Miami, FL                       530
19790      New York, NY          Atlanta, GA                     655
19805      Boston, MA            New York, NY                    450
           New York, NY          Boston, MA                      450
           Boston, MA            Washington, DC                  420
           Washington, DC        Boston, MA                      420
           Chicago, IL           New York, NY                    481
           Dallas/Fort Worth, TX Chicago, IL                     432
                                 Las Vegas, NV                   281
           Las Vegas, NV         Dallas/Fort Worth, TX           281
           Dallas/Fort Worth, TX Los Angeles, CA                 412
           Miami, FL             New York, NY                    534
           New York, NY          Chicago, IL                     486
19930      Anchorage, AK         Seattle, WA                     466
19977      Houston, TX           Los Angeles, CA                 343
20409      New York, NY          Fort Lauderdale, FL             343
19977      Los Angeles, CA       Newark, NJ                      391
20409      Boston, MA            Washington, DC                  391
           Washington, DC        Boston, MA                      391
19977      Los Angeles, CA       San Francisco, CA               401
           Newark, NJ            San Francisco, CA               496
           San Francisco, CA     Chicago, IL                     440
                                 Newark, NJ                      493
20409      New York, NY          Orlando, FL                     359

                                                        PASSENGERS  \
AIRLINE_ID ORIGIN_CITY_NAME      DEST_CITY_NAME
19393      Akron, OH             Atlanta, GA                   0.0
           Atlanta, GA           Akron, OH                     0.0
                                 Jacksonville, FL              0.0
                                 Kansas City, MO               0.0
                                 Las Vegas, NV                 0.0
                                 Milwaukee, WI                 0.0
           Burbank, CA           San Francisco, CA             0.0
           Denver, CO            Albuquerque, NM               0.0
                                 Oklahoma City, OK             0.0
           Jacksonville, FL      Atlanta, GA                   0.0
           Las Vegas, NV         Atlanta, GA                   0.0
                                 Milwaukee, WI                 0.0
           Los Angeles, CA       Atlanta, GA                   0.0
           Nashville, TN         Washington, DC                0.0
           New York, NY          St. Louis, MO                 0.0
           Oklahoma City, OK     Denver, CO                    0.0
           Orlando, FL           Buffalo, NY                   0.0
           Portland, OR          Phoenix, AZ                   0.0
           San Diego, CA         Dallas, TX                    0.0
           San Francisco, CA     Burbank, CA                   0.0
           San Jose, CA          Seattle, WA                   0.0
           St. Louis, MO         Las Vegas, NV                 0.0
                                 New York, NY                  0.0
           Washington, DC        Houston, TX                   0.0
                                 Nashville, TN                 0.0
19790      Albany, NY            Atlanta, GA                   0.0
           Atlanta, GA           Albany, NY                    0.0
                                 Providence, RI                0.0
                                 Santa Ana, CA                 0.0
           Knoxville, TN         Atlanta, GA                   0.0
...                                                            ...
           Chicago, IL           Atlanta, GA                   0.0
           Atlanta, GA           New York, NY                  0.0
                                 Tampa, FL                     0.0
           Tampa, FL             Atlanta, GA                   0.0
           Atlanta, GA           Washington, DC                0.0
           Washington, DC        Atlanta, GA                   0.0
19805      New York, NY          Miami, FL                     0.0
19790      New York, NY          Atlanta, GA                   0.0
19805      Boston, MA            New York, NY                  0.0
           New York, NY          Boston, MA                    0.0
           Boston, MA            Washington, DC                0.0
           Washington, DC        Boston, MA                    0.0
           Chicago, IL           New York, NY                  0.0
           Dallas/Fort Worth, TX Chicago, IL                   0.0
                                 Las Vegas, NV                 0.0
           Las Vegas, NV         Dallas/Fort Worth, TX         0.0
           Dallas/Fort Worth, TX Los Angeles, CA               0.0
           Miami, FL             New York, NY                  0.0
           New York, NY          Chicago, IL                   0.0
19930      Anchorage, AK         Seattle, WA                   0.0
19977      Houston, TX           Los Angeles, CA               0.0
20409      New York, NY          Fort Lauderdale, FL           0.0
19977      Los Angeles, CA       Newark, NJ                    0.0
20409      Boston, MA            Washington, DC                0.0
           Washington, DC        Boston, MA                    0.0
19977      Los Angeles, CA       San Francisco, CA             0.0
           Newark, NJ            San Francisco, CA             0.0
           San Francisco, CA     Chicago, IL                   0.0
                                 Newark, NJ                    0.0
20409      New York, NY          Orlando, FL                   0.0

                                                        AIRLINE_ID_y  \
AIRLINE_ID ORIGIN_CITY_NAME      DEST_CITY_NAME
19393      Akron, OH             Atlanta, GA                   20107
           Atlanta, GA           Akron, OH                     20107
                                 Jacksonville, FL              20107
                                 Kansas City, MO               20107
                                 Las Vegas, NV                 20107
                                 Milwaukee, WI                 20107
           Burbank, CA           San Francisco, CA             20107
           Denver, CO            Albuquerque, NM               20107
                                 Oklahoma City, OK             20107
           Jacksonville, FL      Atlanta, GA                   20107
           Las Vegas, NV         Atlanta, GA                   20107
                                 Milwaukee, WI                 20107
           Los Angeles, CA       Atlanta, GA                   20107
           Nashville, TN         Washington, DC                20107
           New York, NY          St. Louis, MO                 20107
           Oklahoma City, OK     Denver, CO                    20107
           Orlando, FL           Buffalo, NY                   20107
           Portland, OR          Phoenix, AZ                   20107
           San Diego, CA         Dallas, TX                    20107
           San Francisco, CA     Burbank, CA                   20107
           San Jose, CA          Seattle, WA                   20107
           St. Louis, MO         Las Vegas, NV                 20107
                                 New York, NY                  20107
           Washington, DC        Houston, TX                   20107
                                 Nashville, TN                 20107
19790      Albany, NY            Atlanta, GA                   20107
           Atlanta, GA           Albany, NY                    20107
                                 Providence, RI                20107
                                 Santa Ana, CA                 20107
           Knoxville, TN         Atlanta, GA                   20107
...                                                              ...
           Chicago, IL           Atlanta, GA                   19917
           Atlanta, GA           New York, NY                  19917
                                 Tampa, FL                     20447
           Tampa, FL             Atlanta, GA                   20447
           Atlanta, GA           Washington, DC                19917
           Washington, DC        Atlanta, GA                   19917
19805      New York, NY          Miami, FL                     19917
19790      New York, NY          Atlanta, GA                   19917
19805      Boston, MA            New York, NY                  20447
           New York, NY          Boston, MA                    20447
           Boston, MA            Washington, DC                20447
           Washington, DC        Boston, MA                    20447
           Chicago, IL           New York, NY                  19917
           Dallas/Fort Worth, TX Chicago, IL                   20447
                                 Las Vegas, NV                 21634
           Las Vegas, NV         Dallas/Fort Worth, TX         21634
           Dallas/Fort Worth, TX Los Angeles, CA               20447
           Miami, FL             New York, NY                  19917
           New York, NY          Chicago, IL                   19917
19930      Anchorage, AK         Seattle, WA                   19917
19977      Houston, TX           Los Angeles, CA               20424
20409      New York, NY          Fort Lauderdale, FL           20424
19977      Los Angeles, CA       Newark, NJ                    20372
20409      Boston, MA            Washington, DC                20372
           Washington, DC        Boston, MA                    20372
19977      Los Angeles, CA       San Francisco, CA             20372
           Newark, NJ            San Francisco, CA             19917
           San Francisco, CA     Chicago, IL                   20447
                                 Newark, NJ                    19917
20409      New York, NY          Orlando, FL                   21352

                                                             ORIGIN_CITY_NAME  \
AIRLINE_ID ORIGIN_CITY_NAME      DEST_CITY_NAME
19393      Akron, OH             Atlanta, GA                   Sacramento, CA
           Atlanta, GA           Akron, OH                     Sacramento, CA
                                 Jacksonville, FL              Sacramento, CA
                                 Kansas City, MO               Sacramento, CA
                                 Las Vegas, NV                 Sacramento, CA
                                 Milwaukee, WI                 Sacramento, CA
           Burbank, CA           San Francisco, CA             Sacramento, CA
           Denver, CO            Albuquerque, NM               Sacramento, CA
                                 Oklahoma City, OK             Sacramento, CA
           Jacksonville, FL      Atlanta, GA                   Sacramento, CA
           Las Vegas, NV         Atlanta, GA                   Sacramento, CA
                                 Milwaukee, WI                 Sacramento, CA
           Los Angeles, CA       Atlanta, GA                   Sacramento, CA
           Nashville, TN         Washington, DC                Sacramento, CA
           New York, NY          St. Louis, MO                 Sacramento, CA
           Oklahoma City, OK     Denver, CO                    Sacramento, CA
           Orlando, FL           Buffalo, NY                   Sacramento, CA
           Portland, OR          Phoenix, AZ                   Sacramento, CA
           San Diego, CA         Dallas, TX                    Sacramento, CA
           San Francisco, CA     Burbank, CA                   Sacramento, CA
           San Jose, CA          Seattle, WA                   Sacramento, CA
           St. Louis, MO         Las Vegas, NV                 Sacramento, CA
                                 New York, NY                  Sacramento, CA
           Washington, DC        Houston, TX                   Sacramento, CA
                                 Nashville, TN                 Sacramento, CA
19790      Albany, NY            Atlanta, GA                   Sacramento, CA
           Atlanta, GA           Albany, NY                    Sacramento, CA
                                 Providence, RI                Sacramento, CA
                                 Santa Ana, CA                 Sacramento, CA
           Knoxville, TN         Atlanta, GA                   Sacramento, CA
...                                                                       ...
           Chicago, IL           Atlanta, GA                       Denver, CO
           Atlanta, GA           New York, NY                     Lansing, MI
                                 Tampa, FL                     Charleston, SC
           Tampa, FL             Atlanta, GA                   Charleston, SC