In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob

# Number of flights taking off from Boston
data=pd.read_csv("D:/Academics/Assignments/Harish-Git/Gunasekaran_Harish_spring2017/Final Exam/Flight data/September_2016.csv")[["ORIGIN_CITY_NAME", "AIRLINE_ID", "DEST_CITY_NAME"]]
airdata = pd.read_csv("Airline_LOV.csv")[["AIRLINE_ID", "CARRIER_NAME"]]
df = DataFrame(data[data.apply(lambda x: x['ORIGIN_CITY_NAME'] == "Boston, MA", axis=1)])

# df = pd.merge(df, airdata, on="AIRLINE_ID", how='left')
# df = DataFrame(df.groupby(["AIRLINE_ID", "CARRIER_NAME"])["ORIGIN_CITY_NAME"].count())

FileNotFoundError: File b'September_2016.csv' does not exist

In [ ]:
import csv
df.to_csv("one.csv")
df.head()
df1=df.groupby(['ORIGIN_CITY_NAME','DEST_CITY_NAME','AIRLINE_ID'])['AIRLINE_ID'].agg({'count'}).reset_index()

In [9]:
df1.count()

ORIGIN_CITY_NAME    101
DEST_CITY_NAME      101
AIRLINE_ID          101
count               101
dtype: int64

In [6]:
airdata.to_csv("two.csv")

In [11]:
df4 = airdata.drop_duplicates()
result=pd.merge(df1,df4,how="inner",on="AIRLINE_ID")
result.count()

,ORIGIN_CITY_NAME,DEST_CITY_NAME,AIRLINE_ID,count,CARRIER_NAME
0,"Boston, MA","Atlanta, GA",19393,89,Southwest Airlines Co.
1,"Boston, MA","Austin, TX",19393,30,Southwest Airlines Co.
2,"Boston, MA","Baltimore, MD",19393,280,Southwest Airlines Co.
3,"Boston, MA","Chicago, IL",19393,148,Southwest Airlines Co.
4,"Boston, MA","Columbus, OH",19393,55,Southwest Airlines Co.
5,"Boston, MA","Dallas, TX",19393,30,Southwest Airlines Co.
6,"Boston, MA","Denver, CO",19393,84,Southwest Airlines Co.
7,"Boston, MA","Houston, TX",19393,58,Southwest Airlines Co.
8,"Boston, MA","Indianapolis, IN",19393,55,Southwest Airlines Co.
9,"Boston, MA","Kansas City, MO",19393,49,Southwest Airlines Co.
10,"Boston, MA","Milwaukee, WI",19393,56,Southwest Airlines Co.
11,"Boston, MA","Nashville, TN",19393,82,Southwest Airlines Co.
12,"Boston, MA","St. Louis, MO",19393,59,Southwest Airlines Co.
13,"Boston, MA","Atlanta, GA",19790,308,Delta Air Lines Inc.
14,"Boston, MA","Cincinnati, OH",19790,24,Delta Air Lines Inc.
15,"Boston, MA","Detroit, MI",19790,208,Delta Air Lines Inc.
16,"Boston, MA","Los Angeles, CA",19790,60,Delta Air Lines Inc.
17,"Boston, MA","Minneapolis, MN",19790,163,Delta Air Lines Inc.
18,"Boston, MA","New York, NY",19790,381,Delta Air Lines Inc.
19,"Boston, MA","Orlando, FL",19790,30,Delta Air Lines Inc.
20,"Boston, MA","Salt Lake City, UT",19790,57,Delta Air Lines Inc.
21,"Boston, MA","Seattle, WA",19790,26,Delta Air Lines Inc.
22,"Boston, MA","Atlanta, GA",20416,30,Spirit Air Lines
23,"Boston, MA","Atlantic City, NJ",20416,7,Spirit Air Lines
24,"Boston, MA","Baltimore, MD",20416,60,Spirit Air Lines
25,"Boston, MA","Chicago, IL",20416,30,Spirit Air Lines
26,"Boston, MA","Cleveland, OH",20416,30,Spirit Air Lines
27,"Boston, MA","Dallas/Fort Worth, TX",20416,30,Spirit Air Lines
28,"Boston, MA","Detroit, MI",20416,30,Spirit Air Lines
29,"Boston, MA","Fort Lauderdale, FL",20416,37,Spirit Air Lines
...,...,...,...,...,...
74,"Boston, MA","Washington, DC",20409,391,JetBlue Airways
75,"Boston, MA","West Palm Beach/Palm Beach, FL",20409,88,JetBlue Airways
76,"Boston, MA","Charlotte, NC",19805,256,American Airlines Inc.
77,"Boston, MA","Chicago, IL",19805,271,American Airlines Inc.
78,"Boston, MA","Dallas/Fort Worth, TX",19805,208,American Airlines Inc.
79,"Boston, MA","Los Angeles, CA",19805,118,American Airlines Inc.
80,"Boston, MA","Miami, FL",19805,175,American Airlines Inc.
81,"Boston, MA","New York, NY",19805,450,American Airlines Inc.
82,"Boston, MA","Philadelphia, PA",19805,291,American Airlines Inc.
83,"Boston, MA","Phoenix, AZ",19805,88,American Airlines Inc.
84,"Boston, MA","Washington, DC",19805,420,American Airlines Inc.
85,"Boston, MA","Chicago, IL",19977,247,United Air Lines Inc.
86,"Boston, MA","Denver, CO",19977,105,United Air Lines Inc.
87,"Boston, MA","Houston, TX",19977,130,United Air Lines Inc.
88,"Boston, MA","Los Angeles, CA",19977,52,United Air Lines Inc.
89,"Boston, MA","Madison, WI",19977,1,United Air Lines Inc.
90,"Boston, MA","Newark, NJ",19977,280,United Air Lines Inc.
91,"Boston, MA","San Francisco, CA",19977,222,United Air Lines Inc.
92,"Boston, MA","Washington, DC",19977,110,United Air Lines Inc.
93,"Boston, MA","Cleveland, OH",20366,79,ExpressJet Airlines Inc.
94,"Boston, MA","Cleveland, OH",20366,79,Atlantic Southeast Airlines
95,"Boston, MA","Newark, NJ",20366,6,ExpressJet Airlines Inc.
96,"Boston, MA","Newark, NJ",20366,6,Atlantic Southeast Airlines
97,"Boston, MA","Richmond, VA",20366,79,ExpressJet Airlines Inc.
98,"Boston, MA","Richmond, VA",20366,79,Atlantic Southeast Airlines
99,"Boston, MA","Los Angeles, CA",21171,78,Virgin America
100,"Boston, MA","San Francisco, CA",21171,68,Virgin America
101,"Boston, MA","Portland, OR",19930,30,Alaska Airlines Inc.
102,"Boston, MA","San Diego, CA",19930,30,Alaska Airlines Inc.
103,"Boston, MA","Seattle, WA",19930,86,Alaska Airlines Inc.

In [13]:
result['count'].sum()

10248

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import glob
import requests
import os
import json
import datetime
import time
path_val_fix="Football/Head2Head/"
directory_fix_id= "match_fix.csv"
df_fixtureid=pd.read_csv(directory_fix_id,sep=',')
fixture_list=df_fixtureid.values.tolist()
for i in range(0,len(fixture_list)):
    v=fixture_list[i][1]
    k=fixture_list[i][0]
    head2head_list=requests.get("http://api.football-data.org/v1/fixtures/"+str(v)+"?head2head=50").json()
    teams=k.split(',')
    #print(teams)
    file_name_match =path_val_fix+ teams[0]+'vs'+ teams[1]
    os.makedirs(os.path.dirname(file_name_match), exist_ok=True)
    with open(file_name_match, 'w', encoding='utf-8') as f:
        json.dump(head2head_list, f)
        f.close()
    #print(head2head_list)
    time.sleep(5)